.text-wrapper {
  color: #fb6964;
  text-align: end;
}

.text {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1.6rem;
}

.text > .quote-icon {
  margin-right: 10px;
  font-size: 27px;
}
